<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title> Store </title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Store')"></nav>
<div class="container">
  <h2 class="table" style="text-align: center">List of Store</h2>
  <br>
  <a th:href="@{/store/add}" class="mx-2 btn btn-outline-info">+ Add Store</a>
  <table class="table" style="text-align: center">
    <thead class="bg-info">
    <tr>
      <th>No</th>
      <th>Store Code</th>
      <th>Name</th>
      <th>Address</th>
      <th>Operational Hour</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="store, iterationStatus : ${listStore}">
      <td th:text="${iterationStatus.count}"></td>
      <td th:text="${store.store_code}"></td>
      <td th:text="${store.name}"></td>
      <td th:text="${store.address}"></td>
      <td th:text="${store.open_hour} + ' - ' + ${store.close_hour}"></td>
      <td>
        <a class="mx-2 btn btn-outline-success" th:href="@{/store/} + ${store.id}">View</a>
        <a class="mx-2 btn btn-outline-warning" th:href="@{/store/update/} + ${store.id}">Update</a>
        <a class="mx-2 btn btn-outline-danger" th:href="@{/store/delete/} + ${store.id}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
</body>
</html>